body{
    display: flex;
    justify-content: center;
    background-color: #009246;
}

h2{
    color: #009246;
    text-decoration: underline;
}

#daddyv{
    display: flex;
    border: solid white;
    background-color: white;
    height: 90vh;
    width: 80vw;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

#contain{
    border: solid #c21b1a;
    background-color: #c21b1a;
    height: 70vh;
    width: 70vw;
}

#tab{
    position: relative;
    border: solid black;
    height: 69vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bord{
    border: solid black;
    border-top: none;
    height: 69vh;
}
#imgPizza{
    position: absolute;
    left: 0px;
    height: 50%;
}
#description{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    right: 0px;
    height: 69vh;
    width: 34vw;
}
button{
    position: absolute;
    left: 30px;
    height: 40px;
    width: 60px;

}